<?xml version="1.0"?>
<launch>
    <arg name="world_name" default="$(find sphero_rvr_algorithms)/worlds/obstacles.world"/>

    <arg name="gui" default="false"/>

    <!-- robot -->
    <include file="$(find sphero_rvr_description)launch/robot.launch"/>

    <!-- controller manager -->
    <rosparam command="load" file="$(find sphero_rvr_controllers)/config/controllers.yaml" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="
        controller/state
        controller/tracks
    "/>

    <!-- controllers -->
    <include file="$(find sphero_rvr_controllers)launch/sphero_rvr_controllers.launch"/>

    <!-- localisation -->
    <include file="$(find sphero_rvr_navigation)/launch/localisation.launch" />

    <!-- gmapping -->
    <!-- <include file="$(find sphero_rvr_navigation)/launch/gmapping.launch" /> -->

    <!--- move base -->
    <!-- <include file="$(find sphero_rvr_navigation)/launch/move_base_flex.launch" /> -->

    <!-- gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="paused" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- spawn robot -->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
        args="-x -0.3 -y -0.3 -z 0.1 -unpause -urdf -param /robot_description -model rvr" />
</launch>
