NavfnROS:
  allow_unknown: true # Specifies whether or not to allow navfn to create plans that traverse unknown space.
  default_tolerance: 0.1 # A tolerance on the goal point for the planner.

# the DWA planner
DWAPlannerROS:
# Robot Configuration Parameters
  max_vel_x: 0.7
  min_vel_x: -0.4

  max_vel_y: 0.0
  min_vel_y: 0.0

# The velocity when robot is moving in a straight line
  max_vel_trans:  0.7
  min_vel_trans:  0.01

  max_vel_theta: 1.8
  min_vel_theta: 1.2

  acc_lim_x: 2.0
  acc_lim_y: 0.0
  acc_lim_theta: 3.2

# Goal Tolerance Parametes
  xy_goal_tolerance: 0.2
  yaw_goal_tolerance: 0.3
  latch_xy_goal_tolerance: false
  # latch_xy_goal_tolerance: true
  prune_plan: true

# Forward Simulation Parameters
  sim_time: 3.5
  sim_granularity: 0.05
  vx_samples: 20
  vy_samples: 0
  vth_samples: 40
  controller_frequency: 10.0

# Trajectory Scoring Parameters
  path_distance_bias: 42.0
  goal_distance_bias: 20.0
  occdist_scale: 0.02
  twirling_scale: 0.05
  forward_point_distance: 0.4
  stop_time_buffer: 0.2
  scaling_speed: 0.25
  max_scaling_factor: 0.2

# Oscillation Prevention Parameters
  oscillation_reset_dist: 0.05

# Debugging
  publish_traj_pc : false
  publish_cost_grid_pc: false
