<?xml version="1.0"?>
<launch>
    <!-- robot -->
    <include file="$(find sphero_rvr_control)launch/sphero_rvr_control.launch"/>

    <!-- controllers -->
    <include file="$(find sphero_rvr_controllers)launch/sphero_rvr_controllers.launch"/>

    <!-- laser driver -->
    <include file="$(find urg_node)/launch/urg_lidar.launch" />

    <!-- localisation -->
    <include file="$(find sphero_rvr_navigation)/launch/localisation.launch" />

    <!--- move base -->
    <include file="$(find sphero_rvr_navigation)/launch/move_base_flex.launch" />

    <!-- gmapping -->
    <include file="$(find sphero_rvr_navigation)/launch/gmapping.launch" />

</launch>
