<?xml version="1.0"?>
<launch>
    <!-- python driver node -->
    <node pkg="sphero_rvr_driver" type="rvr_driver.py" name="rvr_driver" output="screen">
        <remap from="~cmd_vel" to="/controller/tracks/cmd_vel" />
        <remap from="~odom" to="/controller/tracks/odom" />
    </node>
</launch>
